
@{
    ViewBag.Title = "Noticia";
}

@model PortalConexao.Models.HomeIndexViewModel

@if (Model.Noticias.Length == 0)
{
    <div class="row">
        <span> Não há noticias para serem exibidas</span>
    </div>
}


else
{
    <div class="row container-fluid" style = "margin-left: 2px">
        
        @foreach (var item in Model.Noticias)
        {
          <h5 class="article-title container-fluid">@item.Titulo </h5>
        }
    </div>
    <div class="row container-fluid" style = "margin-left: 2px">
        @foreach (var item in Model.Noticias)
        {
            <p class="article-body">@item.Conteudo</p>
        }

    </div>
}


