
@{
    ViewBag.Title = "Noticia";
}

@model PortalConexao.Models.HomeIndexViewModel

@if (Model.Noticias.Length == 0)
{
    <div class="row">
        <span> Não há noticias para serem exibidas</span>
    </div>
}


else
{
   
    <div class="row container-fluide">

        @foreach (var item in Model.Noticias)
        {
            <div class="article-title container-fluid">
                <h1>@item.Titulo </h1>
            </div>

            <div class="subtitle">
                <h2>@item.SubTitulo</h2>
            </div>

            <div class="row container-fluid" style="margin-left: 2px">
                <p class="article-body">@item.Conteudo</p>
            </div>
           
        }
   

    </div>
}


