.espacos {
    margin: 20px;
    margin-left: 50px;
}

.title-card {
    color: rgba(0,0,0,0.9);
}

.body-card {
   color: rgba(0,0,0,0.75);
}

a:link
{
    text-decoration : none;
}

.font-menu
{
   font-family: proximanova-light,Arial,sans-serif;
   vertical-align: middle;
}


.font-li
{ 
   font-weight: 500;  
}

.head-title{
    width : 700px;
    text-align: left;
    margin-top: 500px;
    margin-left: 00px; 
    margin-top: 60px;
}

.div-text{
    /*background-color: mediumvioletred;*/
    width: 50%;
    margin-top: 50px;   
    margin-bottom:30px;
    margin-left: 200px;

}
.article-title {
    font-size: 3.0rem;
    line-height: 1.2;
    color: rgba(0,0,0,0.9);
    padding: 16px;
    margin-top: 20px;
    /*background-color: pink;*/
    margin-left: 190px;
    width: 60%;
}

.subtitle {
    width: 50%;
    color: #555;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
    margin-top: 1px;
    margin-left: 210px;
    /*background-color: purple;*/
}

.article-body {
    width: 60%;
    font-size: 1.25rem;
    margin-left: 180px;
    margin-top: 30px;
    line-height: 1.75rem;
    font-size: 100%;
    /*background-color : lawngreen;*/
}

.content-head {
    width: 55.5rem;
    padding: 0;
    margin-top: 64px;
}
.banner_top {
    width: 900px;
    height: 110px;
    float: right;
    margin-right: 20px;
}

.meio {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    height: 50%;
    word-wrap: break-word;
    background-color: blue;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 50px;
    float: left;
    margin-top : 20px;
    flex-wrap: nowrap;
}

.esquerdo {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: purple;
    width: 45%;
    height: 90%;
}
.direito{
    position: absolute;
    float: right;
    /*margin-left: 530px;*/   
    margin-top: 20px;
    background-color: red; 
    width: 51%;
    height: 40%;
  
}

.direita-esquerda {
    position: absolute;
    float: right;
    /*margin-left: 530px;*/
    margin-top: 230px;
    background-color: yellow;
    width: 280px;
    height: 47%;
}

.direita-direita {
    position: absolute;
    float: right;
    /*margin-left: 820px;*/
    margin-top: 230px;
    background-color: forestgreen;
    width: 280px;
    height: 47%;
}

.font-card {
    text-shadow: 0 1px 3px rgba(0,0,0,.8); 
    color:#fff; 
    font-size: 20px; 
    display: flex; 
    align-content: flex-end;
}

.size-carousel {
    width: 680px;
    height : auto;   
}

.noticia_wrapper {
    background-color: #FFF;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px #C3C3C3;
}


.noticia_autor {
    color: #FF7C26;
    display: block;
}

.noticia_titulo {
    color: #565050;
    font-size: 22px;
    text-decoration: none;
}


.noticia_data {
    color: #727272;
    display: block;
}

.noticia_resumo {
    color: #333;
    margin-right: 10px;
}

@media screen and (max-width: 770px) {
    .article-title {
        width: 95%;
        font-size: 2rem;
        margin-left: 35px;
        margin-top: 30px;
        line-height: 1.75rem;
        font-size: 100%;
    }
    .subtitle {
        width: 90%;
        color: #555;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: left;
        margin-top: 1px;
        margin-left: 60px;
    }
    .article-body {
        margin-left: 70px;
        width: 80%;
    }
    .div-text{
        width: 80%;
        margin-left: 70px;
    }
}

@media screen and (min-width: 731px) and (max-width: 750px){
    .article-body{
        margin-left: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 560px) and (max-width: 640px){
    .article-body{
        width:100%;
        margin-left: 20px;
    }
}
@media screen and (max-width: 440px){
    .article-body{
        margin-left: 0px;
        width: 450px;
    }
    .espacos{
        margin-left: 80px;
    }
    .article-title {
        width: 95%;
        font-size: 2rem;
        margin-left: 18px;
        margin-top: 30px;
        line-height: 1.75rem;
        font-size: 100%;
        /*background-color: lawngreen;*/
    }
    .subtitle {
        width: 90%;
        color: #555;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: left;
        margin-top: 1px;
        margin-left: 30px;
        /*background-color: purple;*/
    }
    .div-text {
        margin-left: 40px;
    }
    
}

@media screen and (max-width: 380px){
   .article-body{
    margin-left: 0px;
    width: 450px;
    }
   .div-text{
       margin-left: 10px;
   }
}


@media screen and (max-width: 376px){
    .espacos {
        margin-left: 50px;
    }
    .div-text{
        margin-left: 40px;
    }
}


@media screen and (max-width: 330px) {
    .espacos {
        margin-left: 35px;
    }
    .div-text{
        margin-left: 30px;
        margin-bottom: 20px;
    }
 
}
