.espacos {
    margin: 20px;
    margin-left: 50px;
}

.title-card {
    color: rgba(0,0,0,0.9);
}

.body-card {
   color: rgba(0,0,0,0.75);
}

a:link
{
    text-decoration : none;
}

.font-menu
{
   font-family: proximanova-light,Arial,sans-serif;
   vertical-align: middle;
}

.font-li
{ 
   font-weight: 500;  
}


.article-title {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    padding: 16px 0;
    margin-left: 50px;
}

.article-body {
   
    font-size: 4rem;
    margin-left : 50px;
    margin-top: 30px;
    line-height: 1.75rem;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.content-head {
    width: 55.5rem;
    padding: 0;
    margin-top: 64px;
}